article {
  margin-top: 3.125em;
  background: $white;
  box-shadow: 0 0 0.3125em $lightShadow;
  border-radius: 0.43em;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    transition: all 200ms linear;
  }

  @include for-desktop(medium) {
    margin-top: 0;
  }

  img {
    width: 100%;
    height: 10em;
  }

  .description {
    margin: 2.5em 0;
    font-size: 0.8125em;
    padding: 0 1.375em;

    &__title {
      font-size: 1.0625em;
      font-weight: bold;
      margin-bottom: 0.9375em;
    }

    :is(&__population, &__region, &__capital) {
      margin-top: 0.625em;
      letter-spacing: 0.0525em;
      span {
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}
