.container {
  padding: 1.875em 1.25em;

  .form-group {
    display: flex;
    flex-direction: column;

    @include for-desktop(medium) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3.125em;
    }

    .search {
      width: 100%;
      background: $white;
      height: 3.125em;
      border-radius: 0.3125em;
      box-shadow: 0 0 0.3125em $lightShadow;
      margin-bottom: 1em;
      padding: 0.9375em 1.875em;
      display: flex;
      align-items: center;

      @include for-desktop(medium) {
        width: 50%;
      }

      .icon {
        color: $darkGray;
        margin-right: 0.3125em;
      }

      input {
        border: none;
        background: transparent;
        width: 100%;
        height: 100%;
        outline: none;
        margin-left: 0.9375em;
      }
    }
  }

  &__article {
    padding: 0 2.5em;

    @include for-desktop(medium) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(14.5em, 1fr));
      padding: 0;
      width: 100%;
      gap: 5em;
    }
  }
}
