.app {
  &.dark {
    background: $darkBlueLight;
    header {
      background: $darkBlue;
      box-shadow: 0 0 0.35em $veryDarkBlueLight;
      color: $white;
      button {
        .icon {
          color: $white;
        }
        span {
          color: $white;
        }
      }
    }

    .loading {
      color: $white;
    }

    .container {
      .search {
        background: $darkBlue;
        box-shadow: 0 0 0.3125em $veryDarkBlueLight;
        .icon {
          color: $white;
        }
        input {
          color: $white;
        }
      }

      &__article {
        article {
          background: $darkBlue;
          box-shadow: 0 0 0.3125em $veryDarkBlueLight;
          .description {
            color: $white;

            :is(&__population, &__region, &__capital) {
              color: $grayLight;
            }

            :is(&__population span, &__region span, &__capital span) {
              color: $lightShadow;
            }
          }
        }
      }
    }

    .details {
      background: $darkBlueLight;
      &__button {
        .btn {
          background: $darkBlue;
          box-shadow: $boxShadowDark;
          .arrow-icon {
            color: $white;
          }
          span {
            color: $white;
          }
        }
      }
      &__container {
        color: $white;
        .country {
          :is(&__left, &__right) {
            color: $grayLight;
          }
          &__border {
            span {
              background: $darkBlue;
              box-shadow: $boxShadowDark;
              color: $grayLight;
            }
          }
        }
      }
    }
  }
}
