.app {
  &.dark {
    background: $darkBlueLight;
    header {
      background: $darkBlue;
      box-shadow: 0 0 0.35em $veryDarkBlueLight;
      color: $white;
    }

    .loading {
      color: white;
    }

    .container {
      .search {
        background: $darkBlue;
        box-shadow: 0 0 0.3125em $veryDarkBlueLight;
        .icon {
          color: $white;
        }
        input {
          color: $white;
        }
      }

      &__article {
        article {
          background: $darkBlue;
          box-shadow: 0 0 0.3125em $veryDarkBlueLight;
          .details {
            color: $white;

            :is(.population, .region, .capital) {
              color: $grayLight;
            }

            :is(.population span, .region span, .capital span) {
              color: $lightShadow;
            }
          }
        }
      }
    }
  }
}
