.details {
  height: calc(100vh - 91.31px);
  padding: 0 20px;
  background: $white;

  @include for-desktop(medium) {
    padding: 0 80px;
  }

  &__button {
    height: 106px;
    display: flex;
    align-items: center;
    margin-top: 0.2em;
    .btn {
      color: $darkBlue;
      text-decoration: none;
      box-shadow: $boxShadowLight;
      padding: 11px 22px;
      background-color: $white;
      border-radius: 5px;
      width: 100%;
      max-width: 136px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      span {
        text-transform: capitalize;
        margin-left: 12px;
      }
    }
  }

  &__container {
    @include for-desktop(medium) {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 2em;
    }

    img {
      @include for-desktop(medium) {
        width: 100%;
        max-width: 560px;
        height: 100%;
        max-height: 400px;
      }
      height: 261px;
    }

    .country {
      @include for-desktop(medium) {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
      }

      h4 {
        @include for-desktop(medium) {
          font-size: 30px;
          grid-column: 1 / -1;
          display: inline-flex;
          align-self: center;
        }
      }

      @include for-desktop(medium) {
        :is(&__left, &__right) {
          display: inline-flex;
          flex-direction: column;
          span {
            margin: 10px 0;
          }
        }
      }

      &__border {
        @include for-desktop(medium) {
          display: inline-flex;
          align-self: center;
          grid-column: -3 / -1;
        }

        strong {
          margin-right: 5px;
        }

        span {
          box-shadow: $boxShadowLight;
          border-radius: 3px;
          padding: 1px 20px;
          margin: 0 5px;
        }
      }
    }
  }
}
