.app {
  background: $veryLightGray;
  height: 100%;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5625em;
    font-weight: bold;
    font-style: italic;
    height: 100%;
    text-transform: capitalize;
  }
}
