.select__container {
  position: relative;
  width: 100%;
  max-width: 12.5em;
  box-shadow: 0 0 0.3125em $lightShadow;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em 1.5625em;
  border-radius: 0.3125em;
  outline: none;
  height: 3.125em;
  background: $white;
  height: 3.5em;

  .value {
    flex-grow: 1;
  }

  &:focus {
    border-color: hsl(200, 100%, 50%);
  }

  .options {
    position: absolute;
    margin: 0;
    padding: 0.5em 1em;
    list-style: none;
    display: none;
    max-height: 10.1875em;
    overflow-y: auto;
    box-shadow: 0 0 0.3125em $lightShadow;
    border-radius: 0.3125em;
    width: 100%;
    left: 0;
    top: calc(100% + 0.5em);
    background: $white;
    z-index: 100;
    font-family: inherit;
  }

  .options.show {
    display: block;

    .option {
      margin: 0.75em 0;
      padding: 0 0.5em;
      cursor: pointer;
    }
  }
}
